$c-main: #8257e6;
$c-gray-100: #e1e1e6;
$c-gray-200: #c4c4cc;
$c-gray-300: #A9A9B2;
$c-gray-400: #8d8d99;
$c-gray-500: #7c7c8a;
$c-gray-600: #323238;
$c-gray-700: #29292e;
$c-gray-750: #202024;
$c-gray-800: #282824;
$c-gray-900: #121214;

$c-green-300: #00b37e;
$c-green-500: #00875f;
$c-green-700: #015f43;

$c-red-200: #DB4437;