$h: 4rem; // 64px
$h-mobile: 2.5rem; // 40px

$h1: 2rem; // 32px
$h1-mobile: 1.375rem; // 22px

$h2: 1.75rem; // 28px
$h2-mobile: 1.25rem; // 20px

$h3: 1.25rem; // 20px
$h3-mobile: 1.125rem; // 18px

$h4: 1.125rem; // 18px
$h4-mobile: 1rem; // 16px

$h5: 1rem; // 16px
$h5-mobile: 0.875rem; // 14px

$body: 1rem; // 16px
$body-mobile: 0.75rem; // 12px

$small: 0.875rem; // 14px
$small-mobile: 0.6875rem; // 11px

$mini: 0.75rem; // 12px
$mini-mobile: 0.625rem; // 10px