@import '../styles/config/variables';

.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 2rem;
    max-width: calc(100vw - (100vw - 1160px) / 2);
    margin-left: auto;
}

.text-home {
    max-width: 480px;

    p {
        color: $c-gray-300;
        margin-bottom: 1.5rem;
    }

    h1 {
        font-size: $h;
    }

    button {
        background: $c-red-200;
        display: flex;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 6px;
        border: 0;
        cursor: pointer;
    }
}